@import url("https://use.typekit.net/cha2yfn.css");

h1, h2, h3, p {
  font-family: "nimbus-sans", sans-serif;
  font-weight: 300;
}

h1 {
  padding-top: 50px;
  font-size: 80px;
}

hr {
  color: #000;
}

footer {
  text-align: center;
  margin: 0 20px;
}

footer p {
  margin-top: 15px;
}

.nav {
  background-color: #777;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 50px;
  padding: 10px;
}

.intro {
  text-align: center;
  color: white;
  height: calc(100vh - 50px);
  width: 100vw;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/8da176ad-c561-4eb1-be15-28fd0f103912.original.png?w=1600");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.content {
  padding-top: 20px;
  background: #FFF;
}

.desc-text {
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 40px 0;
}

.slider {
  margin-left: 30px;
  margin-right: 30px;
}

.slider-item {
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
  text-align: center;
}

.slider-img {
  position: relative;
  background: rgba(0,0,0,0.8);
  text-align: center;
  overflow: hidden;
}

.slider-img img {
  transition: ease-in-out .3s;
}

.slider-img:hover img {
  transition: ease-in-out .3s;
  opacity: .5;
  transform: scale(1.05);
}

.slider-text {
  font-size: 24px;
}

.slick-prev:before {
  color: #000000 !important;
}

.slick-next:before{
  color: #000000 !important;
}

.img-btn {
  border-color: #fff;
  color: #fff;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 2px;
  padding: 10px 20px;
}

.img-btn:hover {
  border-color: #fff;
  background-color: #fff;
  color: #000;
}

.slider-img:hover .img-btn {
  opacity: 1;
}

@media screen and (max-width: 480px) {
  h1 {
    padding-top: 5px;
    font-size: 50px;
  }

  .intro {
    height: 65vh;
  }

  .content{
    padding-left: 0px;
    padding-right: 0px;
  }

  .desc-text {
    width: 100%;
    padding: 20px;
  }

  .slider {
    margin-left: 0;
    margin-right: 0;
  }

  .slider-item {
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    height: auto;
  }

  .slider-text {
    margin-top: 10px;
  }
}
