body {
  font-family: 'futura-pt'
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/1428fc/000000000000000000013365/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1428fc/000000000000000000013365/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1428fc/000000000000000000013365/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style:normal;font-weight:400;
}

@font-face {
  font-family:"futura-pt";
  src:url("https://use.typekit.net/af/b73c18/000000000000000000010091/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/b73c18/000000000000000000010091/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/b73c18/000000000000000000010091/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
  font-style:normal;font-weight:700;
}

.card-box, .image {
  width: 100%;
  height: 200px;
}

.card-text {
  padding: 8px;
}

.flip-container {
	perspective: 1000px;
  padding: 10px;
}


.flip .flipper {
	transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}

.front, .back {
	backface-visibility: hidden;
}

.front {
	z-index: 2;
	transform: rotateY(0deg);
}

.back {
	transform: rotateY(180deg);
  position: absolute;
	top: 0;
	left: 0;
  height: 310px;
}

.card-body {
  height: 100px;
  text-align: center;
  font-size: 25px;
}

.back .card-body {
  font-size: 60px;
}

.card {
  border-width: thick;
  border-color: black;
  display: flex;
  justify-content: center;
}

h1 {
  text-align: center;
}

@media screen and (max-width 576px) {
  
}
