body {
  font-family: "pt-serif", serif;
  font-style: normal;
}

nav img {
  padding: 15px 0;
  display: block;
  margin: auto;
  width: 125px;
}

h1, h2 {
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  margin-top: 85px;
}

h1 {
  color: #4BBFBE;
}

h2 {
  font-size: 50px;
  margin-top: 20px;
  margin-bottom: 25px;
}

hr {
  margin-top: 35px;
  padding-bottom: 15px;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #4BBFBE;
}

footer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  padding: 15px;
  text-align: center;
}

footer > hr {
  padding: 0;
}

#info {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  color: #999;
  font-style: normal;
  font-size: 20px;
  padding-bottom: 0;
}

#featured-tag {
  font-weight: 700;
  padding-left: 0;
}

#featured-date {
  font-weight: 400;
  text-align: right;
  padding-right: 0;
}

#tag {
  font-weight: 700;
  padding-top: 15px;
  padding-left: 0;
}

#all-tag {
  font-weight: 700;
  padding-left: 0;
}

#date {
  font-weight: 400;
  text-align: right;
  padding-top: 15px;
  padding-right: 0;
}

#all-date {
  font-weight: 400;
  text-align: right;
  padding-right: 0;
}

#featured-title {
  font-family: "futura-pt", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 15px;
  line-height: 120%;
}

#title {
  font-family: "futura-pt", sans-serif;
  color: #000;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 120%;
}

#desc {
  font-size: 20px;
}

#credits {
  color: #999;
  font-size: 15px;
  padding-top: 15px;
}

#articles .row, #featured-main {
  display: flex;
  align-items: flex-end;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.row:first-of-type {
  padding: 0;
}

.col-md-6:first-of-type {
  border-right: 1px solid #EEE;
  padding-right: 40px;
}

.col-md-6:last-of-type {
  padding-left: 40px;
}

.col-md-7, .col-md-5 {
  padding: 15px 15px 0;
}

::selection {
  background: #4BBFBE;
  color: #FFF;
}

@media screen and (max-width: 991px) {
  hr {
    margin-top: 30px;
  }

  .row {
    flex-direction: column;
  }

  .col-md-8 {
    padding-top: 15px;
  }

  .col-md-6:first-of-type {
    border-right: none;
    padding-right: 15px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 30px;
  }

  .col-md-6:last-of-type {
    border-right: none;
    padding-left: 15px;
    padding-top: 35px;
  }
}
