body {
  font-family: 'pt-serif', serif;
  font-style: normal;
  margin: 0;
}

nav img {
  width: 125px;
  display: block;
  margin: auto;
  padding: 15px 0;
}

h1, h2 {
  margin: 85px 0 10px;
  font-family: 'futura-pt', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  text-align: center;
}

h1 {
  color: #4BBFBE;
}

h2 {
  margin: 20px 0 25px;
  font-size: 50px;
}

hr {
  margin: 35px 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover, a:active, a:focus {
  text-decoration: none;
  color: #4BBFBE;
}

footer {
  margin: 20px auto;
  text-align: center;
}

footer hr {
  margin-bottom: 20px;
}

.container {
  margin: 0 auto;
}

.row {
  margin: 0;
}

.article-row {
  display: flex;
  align-items: flex-end;
}

.featured-row {
  padding: 0;
}

.featured {
  padding: 15px 15px 0;
}

.top:first-of-type {
  border-right: 1px solid #EEE;
  padding-right: 40px;
}

.top:last-of-type {
  padding-left: 40px;
}

.info {
  font-family: "futura-pt", sans-serif;
  text-transform: uppercase;
  color: #999;
  font-size: 20px;
  padding-bottom: 0;
}

.tag {
  font-weight: 700;
  padding-left: 0;
}

.date {
  font-weight: 400;
  text-align: right;
  padding-right: 0;
}

.top-tag, .top-date {
  padding-top: 15px;
}

.title {
  font-family: "futura-pt", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.2;
}

.featured-title {
  font-weight: 700;
  font-size: 38px;
  padding-bottom: 15px;
}

.description {
  font-size: 20px;
}

.credits {
  color: #999;
  font-size: 15px;
  padding-top: 15px;
}

::selection {
  background: #4BBFBE;
  color: #FFF;
}

@media screen and (max-width: 991px) {
  hr {
    margin: 30px 0;
  }

  .article-row {
    flex-direction: column;
  }

  .article-info {
    padding-top: 15px;
  }

  .top:first-of-type {
    border-right: none;
    border-bottom: 1px solid #EEE;
    padding: 0 15px 30px;
  }

  .top:last-of-type {
    padding: 30px 15px 0;
  }
}
