@import url('https://fonts.googleapis.com/css?family=Montserrat|Open+Sans:400,400i');

body {
  margin: 0;
  font-family: 'Opens Sans', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 20px;
  padding: 10px;
}

.intro {
  min-height: 50vh;
  height: 50vh;
  flex-direction: column;
}

.intro-title {
  margin: auto;
  margin-bottom: 20px;
}

p.presented-by {
  text-align: center;
  font-style: italic;
}

.intro-blurb {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
}

.top-categories {
  background-color: #DDD;
}

.categories {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
}

.col-6 {
  width: 50%;
}

.col-6 img {
  width: 100%;
  height: auto;
  display: block;
}

.map {
  width: 66.6667%;
  height: 100vh;
}

.listings {
  width: 33.3333%;
  height: calc(100vh - 40px);
  padding: 20px;
  overflow-y: auto;
}

.marker {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.item {
  border-bottom: 1px solid #000;
  padding: 20px 0;
}

p.address {
  font-family: 'Opens Sans', sans-serif;
  font-style: italic;
  margin: 0;
  margin-top: 10px;
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  .intro {
    margin: 15px;
  }

  .intro-blurb {
    width: 100%;
  }

  .categories {
    width: 100%;
  }

  .col-6 {
    width: 100%;
  }

  .map {
    width: 100%;
    height: 65vh;
  }

  .listings {
    width: calc(100% - 40px);
    height: 35vh;
  }
}
