/* Montserrat */
@import url('https://fonts.googleapis.com/css?family=Montserrat');

/* Proxima Nova */
@import url("https://use.typekit.net/lxk2kpg.css");

/* @font-face {
  font-family: 'Proxima Nova';
  src: url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-style: italic;
  font-weight: 400;
} */

body {
  margin: 0;
  font-family: 'Proxima Nova', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  margin: 0;
}

h3 {
  padding: 20px;
  padding-bottom: 0;
}

section {
  display: flex;
  flex-direction: row;
}

footer {
  width: 70%;
  margin: auto;
  padding: 20px 0;
  border-top: 1px solid #000;
  font-style: italic;
  text-align: center;
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 20px;
  padding: 10px;
}

.intro {
  flex-direction: column;
  margin: auto;
  padding: 150px 0;
  background-color: rgb(22, 138, 167);
  color: white;
}

.intro-title {
  margin: auto;
  margin-bottom: 20px;
}

p.presented-by {
  text-align: center;
  font-style: italic;
}

.intro-blurb {
  width: 40%;
  margin: auto;
  margin-top: 20px;
  text-align: center;
  line-height: 1.4;
}

.letter-link {
  font-style: italic;
  text-decoration: none;
  color: rgb(254, 240, 55);
}

.letter-link:hover {
  color: rgb(240, 200, 25);
}

.top-categories {
  background-color: #DDD;
}

.categories {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 150px auto;
}

.col-6 {
  width: 50%;
}

.col-6 img {
  width: 100%;
  height: auto;
  display: block;
}

.map {
  width: 66.6667%;
  height: 100vh;
}

.listings {
  width: 33.3333%;
  height: 100vh;
  overflow-y: auto;
}

.marker {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.item {
  border-bottom: 1px solid #000;
  padding: 20px;
  cursor: pointer;
}

p.address {
  font-style: italic;
  margin: 0;
  margin-top: 10px;
}

.movie {
  background-color: rgb(254, 240, 55);
}

.playhouses {
  background-color: rgb(22, 138, 167);
  color: #FFF;
}

.music {
  background-color: rgb(8, 61, 102);
  color: #FFF;
}

.performance {
  background-color: rgb(30, 30, 30);
  color: #FFF;
}

.weekend {
  background-color: rgb(76, 93, 99);
}

.museums {
  background-color: rgb(87, 137, 67);
  color: #FFF;
}

.places {
  background-color: rgb(101, 45, 145);
  color: #FFF;
}

.oddities {
  background-color: rgb(242, 169, 60);
}

@media only screen and (max-width: 768px) {
  section {
    flex-direction: column;
  }

  footer {
    width: auto;
    margin: 0 15px;
    border-top: none;
  }

  .intro {
    padding: 40px 15px;
  }

  .intro-title {
    margin-bottom: 10px;
  }

  .intro-blurb {
    margin-top: 10px;
  }

  .intro-blurb, .map, .listings, .col-6 {
    width: 100%;
  }

  .categories {
    width: calc(100% - 30px);
  }

  .categories {
    margin: 40px 15px;
  }

  .map {
    height: 60vh;
  }

  .listings {
    height: 40vh;
  }
}
