.map-container {
  display: flex;
  flex-direction: row;
}

.map {
  width: 66.6667%;
  height: 100vh;
}

.listings {
  width: 33.3333%;
  height: 100vh;
  padding: 20px;
  overflow-y: auto;
}

.marker {
  border-radius: 50%;
  height: 20px;
  width: 20px;
}

.item {
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {
  .map-container {
    flex-direction: column;
  }

  .map {
    width: 100%;
    height: 65vh;
  }

  .listings {
    width: 100%;
    height: 35vh;
  }
}
