/* CSS files add styling rules to your content */

body {
  overflow-x: hidden;
}

h1 {
  font-size: 7.3rem;
}

h2 {
  font-size: 5.5rem;
}

h3 {
  font-size: 3.3rem;
}

h4 {
  font-size: 2rem;
  font-family: 'Libre Franklin', sans-serif;
}

h5 {
  font-size: 1.8rem;
  font-family: 'Libre Franklin', sans-serif;
}

p {
  font-size: 1.3rem;
  font-family: 'Libre Franklin', sans-serif;
}

.tan-bg-img-right {
  background-color: #DFDDD0;
  padding: 5rem 3.9rem 5rem 5.9rem;
}

.text-dgreen {
  color: #2B3C2E;
}

.start-letter {
  height: 0;
  padding-top: 5rem;
  margin-top: -4rem;
  margin-bottom: 3.6rem;
}

.black-bg-shade {
  background-color: rgba(0, 0, 0, .66);
}

.shade-bg-title {
  padding: 12.5rem 11.8rem 0;
}

.shade-bg-text {
  padding: 3.4rem 11.8rem 5.3rem;
}

@media (min-width: 992px) {
  .big-screen-bg-img-right { 
    padding: 0rem 3.9rem 2rem 5.9rem;
  }

}
.screen-padding {
  padding: 0 4rem 0rem 2rem;
}
.screen-padding-2 {
  padding: 0 4rem 2rem 2rem;
}

@media (max-width: 992px) {
  .small-screen-pad {
    padding: 3rem 3rem;
  }
  .small-screen-top-pad {
    padding-top: 3rem;
  }

  .screen-padding {
    padding: 0 2rem;
  }

  .screen-padding-2 {
    padding: 0 0rem;
  }

  p {
    font-size: 1.5rem;
  }
}

.quote-author {
  font-family: 'BN Chester';
  font-size: 2.3rem;
  line-height: 2.6rem;
}

#coverBg {
  background-size: cover;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/1e87db16-26db-43da-a536-d05dffa64d8d.sized-1000x1000.png");
}

#smallCoverBg {
  background-size: cover;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/ebb8f26e-a33c-4f9b-bedf-00606ca3375d.sized-1000x1000.png");
}

#watermark {
  opacity: 75%;
  width: 20%;
  padding: 2rem 0 15.5rem;
  margin: auto;
}

#coverTitle {
  padding: 0 12.3rem 0 7.5rem;
  font-family: 'BN Chester';
}

#coverText {
  padding: 13rem 0 9.5rem 0;
  width: 38%;
  margin: auto;
  text-align: center;
  color: #FFFFFF;
}

#yusefImgCol {
  padding-left: 2.5rem;
}

#jimAckBgImg {
  background-size: cover;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/7c4b864f-84db-44bf-9242-35b6c7480a23.sized-1000x1000.jpg");
}

#bushBg {
  background-color: #DFDDD0;
  padding-top: 2.2rem;
}

#bushCaption{
  padding-top: 1rem;
  font-size: 0.6rem; 
  margin-left: 10rem;
  line-height: 0.8rem;
}

#blackBg{
  background-color: #000000;
  padding-right: 0;
  padding-bottom: 5rem;
  padding-top: 15rem;
}

#chemicalImg{
  width: 85%; 
  float: right;
  margin-bottom: 5rem;
}

#holmesburgText{
  text-align: center; 
  font-family: 'BN Chester';
  margin: auto;
  width: 95%;
  white-space: pre-wrap; 
  font-size: 5.5vw;
}

#experimentImg{
  width: 70%;
  margin-top: 5rem;
}

#albertGreenBg {
  background-color: #2B3C2E;
}

#albertGreenImg {
  background-size: cover;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/63fdb7eb-5b7e-4a94-bcf9-c60a73949f60.sized-1000x1000.jpg");
}

#albertGreenCaption {
  font-size: .6rem;
  padding: 90% .5rem 1rem 30%;
  margin-bottom: 0;
  text-align: right;
  color: #FFFFFF;
}

#greenQuoteBox {
  padding: 3rem 3.8rem 3rem 3.1rem;
}

#julesBgImg {
  background-size: cover;
  background-image: url("https://snworksceo.imgix.net/dpn-34s/d9e29bab-b59c-49d9-b4ec-de70730b5520.sized-1000x1000.png");
}

#hornblum {
  background-color: #DFDDD0;
}
