@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Alegreya+Sans');

body {
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  text-align: center;
}

h3 {
  margin-bottom: 40px;
}

h5 {
  text-align: left;
  margin-top: 20px;
  margin-bottom: 20px;
}

a, a:hover, a:focus {
  color: #e87e53;
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(229,100,81);
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 40px;
  padding: 10px;
}

.banner {
  width: 100%;
  height: 50vh;
  background-image: url('https://snworksceo.imgix.net/dpn-34s/849e74d9-139e-4ad5-a884-ca777ea9da48.sized-1000x1000.png');
  background-color: rgb(229,100,81);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.intro {
  padding-bottom: 0;
}

.presented-by {
  font-weight: 400;
}

.description {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.categories {
  color: #e87e53;
}

.table-of-contents {
  text-align: center;
}

.section {
  position: relative;
  padding: 10px;
  background-color: #8dbfdc;
}

.section-header {
  margin: 0;
  color: #FFF;
}

.top-link {
  position: absolute;
  top: 18px;
  right: 15px;
  color: #FFF;
  text-transform: uppercase;
}

.top-link:hover, .top-link:focus {
  color: #03095b;
}

.category {
  margin-bottom: 20px;
  padding: 10px;
  background-color: #ebf2f6;
}

.entry {
  color: #03095b;
}

.entry-name {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.image-container img {
  margin-bottom: 10px;
}

.pick-circle {
  width: 90px;
  height: 90px;
  position: absolute;
  top: -30px;
  right: 10px;
  transform: rotate(20deg);
  padding-top: 32px;
  border-radius: 50%;
  background-color: #03095b;
  color: #FFF;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  line-height: 1;
}

.penn-pick {
  background-color: #e87e53;
}

.runner-ups .number {
  color: #e87e53;
}

.read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #e87e53;
  border-color: rgb(229,100,81);
}

.btn-primary:hover, .btn-primary:focus {
  background-color: rgb(229,100,81);
  border-color: rgb(229,100,81);
}

@media screen and (min-width: 1000px) {
  .banner {
    background-image: url('https://s3.amazonaws.com/snwceomedia/dpn-34s/849e74d9-139e-4ad5-a884-ca777ea9da48.original.png');
  }
}

@media screen and (min-width: 768px) {
  .table-of-contents div:not(:last-of-type) {
    border-right: 1px solid #e87e53;
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 25vh;
  }

  .description {
    width: 100%;
  }

  .table-of-contents {
    font-size: 20px;
  }

  .section-header {
    text-align: left;
  }

  .btn-primary {
    margin-bottom: 20px;
  }

  .pick-circle {
    width: 75px;
    height: 75px;
    top: -20px;
    right: 5px;
    padding-top: 26px;
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  .section-header {
    font-size: 1.8rem;
  }
}
