@import url('https://fonts.googleapis.com/css?family=Barlow:400,600|Alegreya+Sans');

body {
  font-family: 'Alegreya Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Barlow', sans-serif;
  text-align: center;
}

h3 {
  margin-bottom: 40px;
}

a, a:hover, a:focus {
  color: #e87e53;
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(229,100,81);
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 40px;
  padding: 10px;
}

.banner {
  width: 100%;
  height: 50vh;
  background-image: url('https://snworksceo.imgix.net/dpn-34s/849e74d9-139e-4ad5-a884-ca777ea9da48.sized-1000x1000.png');
  background-color: rgb(229,100,81);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.description {
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
}

.table-of-contents {
  text-align: center;
}

.img-icon {
  height: 90px;
  width: auto;
  margin: 0;
  margin-right: 20px;
}

.section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.section-header {
  text-align: left;
  flex: 1;
}

.category {
  text-align: left;
  background-color: #e87e53;
  width: 50%;
}

/* NOT USED RIGHT NOW */
/* .entry-name {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.pick-circle {
  position: absolute;
  top: -30px;
  right: 10px;
  background-color: #03095b;
  border-radius: 50%;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  transform: rotate(20deg);
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  height: 90px;
  width: 90px;
  line-height: 1;
}

.penn-pick {
  background-color: #e87e53;
}

.runner-up {
  display: inline-block;
}

.runner-up.number {
  background-color: #8dbfdc;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 6px;
  height: 50px;
  width: 50px;
}

.runner-up.text {
  vertical-align: top;
} */

@media screen and (min-width: 1000px) {
  .banner {
    background-image: url('https://s3.amazonaws.com/snwceomedia/dpn-34s/849e74d9-139e-4ad5-a884-ca777ea9da48.original.png');
  }
}

@media screen and (max-width: 768px) {
  .banner {
    height: 25vh;
  }

  .description {
    width: 100%;
  }

  .table-of-contents {
    font-size: 25px;
  }

  .section {
    display: block;
    text-align: center;
  }

  .section-header {
    text-align: center;
  }

  .img-icon {
    width: 50%;
    height: auto;
    margin: auto;
  }
}
