@import url('https://fonts.googleapis.com/css?family=Barlow:400,600');

a, a:hover, a:focus {
  color: rgb(232,75,59);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(252,219,122);
}

.nav {
  background-color: #222;
  text-align: center;
}

h1, h2, h3, h4 {
  text-align: center;
  padding: 10px;
  font-family: 'Barlow', sans-serif;
}

.container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 40px;
  padding: 10px;
}

img {
  margin: 0 auto 10px;
}

.img-fluid {
  width: 100%;
}

.description {
  width: 50%;
  margin: auto;
  text-align: center;
}

.section-header {
  background-color: lightblue;
}

.category {
  text-align: left;
  background-color: #e87e53;
  width: 50%;
}

.entry-name {
  margin-bottom: 20px;
}

.image-container {
  position: relative;
}

.pick-circle {
  position: absolute;
  top: -30px;
  right: 10px;
  background-color: #03095b;
  border-radius: 50%;
  color: white;
  font-size: 1.1rem;
  text-transform: uppercase;
  transform: rotate(20deg);
  font-weight: bold;
  text-align: center;
  padding-top: 30px;
  height: 90px;
  width: 90px;
  line-height: 1;
}

.penn-pick{
  background-color: #e87e53
}

.runner-up {
  display: inline-block;
}

.runner-up.number {
  background-color: #8dbfdc;
  border-radius: 50%;
  color: white;
  font-size: 1.5rem;
  text-align: center;
  padding-top: 6px;
  height: 50px;
  width: 50px;

}

.runner-up.text {
  vertical-align: top;
}

@media screen and (max-width: 768px) {
  .description {
    width: 100%;
  }
}
