/* Proxima Nova and Bodoni */
@import url("https://use.typekit.net/exr6dnn.css");

body {
  font-family: 'proxima-nova';
}

h1, h2, h3 {
  font-family: 'ltc-bodoni-175';
}

h1 {
  color: rgb(232,75,59);
}

h2 {
  color: black;
}

h5, h6 {
  color: #838580;
}

h5 {
  text-transform: uppercase;
}

h6.title {
  color: rgb(232,75,59);
}

footer {
  text-align: center;
  margin: 15px;
}

img {
  margin: 0px auto 10px;
}

a, a:hover, a:focus {
  color: rgb(232,75,59);
  text-decoration: none;
}

a:hover, a:focus {
  color: #a5c639;
}

p.italics {
  font-style: italic;
  color: rgb(232,75,59);
}

hr {
  width: 1140px;
  max-width: 100%;
  margin: 20px auto;
  border-top: 3px solid rgb(232,75,59);
}

.background-container {
  background-color: rgba(0,0,0,0.05);
}

.background-container-reviews {
  background-color: rgba(252,219,122,0.3);
}

.container {
  margin-top: 30px;
}

.intro {
  width: 50%;
  margin: auto;
}

.map-container {
  margin-top: 50px;
}

#map {
  width: 100%;
  height: 100vh;
}

#map.mapboxgl-map {
  font-family: 'proxima-nova';
}

#map.mapboxgl-map h4 {
  font-family: 'ltc-bodoni-175';
  margin-top: 10px;
}

.street-logo {
  margin: auto;
  height: 50px;
  padding: 10px;
}

.featured {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

.listings {
  width: 33%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  padding: 15px;
  overflow-y: auto;
  background-color: #e8e8de;
}

.item {
  cursor: pointer;
  border-top: 1px solid rgb(232,75,59);
  padding-top: 15px;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
}

.listing-box {
  padding-right: 0;
}

.img-top {
  height: 400px;
  width: 100%;
  margin: 20px auto 10px;
}

.img-square {
  height: 300px;
  width: 100%;
  margin: 20px auto 10px;
}

.image-row a {
  color: #000;
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 40px;
  padding: 10px;
}

.lg-underline, .underline2, .underline3 {
  border-top: 2px solid rgb(232,75,59);
  margin: 20px auto;
}

.lg-underline {
  width: 33%;
}

.underline2 {
  width: 10%;
}

.underline3 {
  width: 15%;
}

.food-section {
  margin-top: 50px;
  text-align: center;
}

.title-see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.title-see-more a {
  text-decoration: none;
  color: black;
}

.col-left {
  width: 50%;
  padding: 20px;
}

.col-right {
  width: 50%;
  padding: 20px;
}

.narrative-row-1{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(237,236,234);
}

.narrative-row-2{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(232,75,59);
}

.narrative-row-3{
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-color:rgb(252,219,122);
}

@media screen and (max-width: 480px) {
  .intro {
    width: 100%;
  }

  .img-top {
    height: 300px;
  }

  .listing-box {
    position: relative;
  }

  .listings {
    width: 100%;
    height: 33vh;
    top: 67vh;
  }
}
