/* Proxima Nova and Bodoni */
@import url("https://use.typekit.net/exr6dnn.css");

body {
  font-family: 'proxima-nova';
}

h1, h2, h3, h4 {
  font-family: 'ltc-bodoni-175';
}

h1, h4 {
  color: rgb(232,75,59);
}

h1 {
  text-align: center;
}

h2 {
  color: black;
}

h5, h6 {
  color: #838580;
}

h5 {
  text-transform: uppercase;
}

h6.title {
  color: rgb(232,75,59);
}

footer {
  text-align: center;
  margin: 15px;
}

img {
  margin: 0 auto 10px;
}

a, a:hover, a:focus {
  color: rgb(232,75,59);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(252,219,122);
}

hr {
  width: 1140px;
  max-width: 100%;
  margin: 20px auto;
  border-top: 3px solid rgb(232,75,59);
}

.container {
  padding: 100px 15px;
}

.intro {
  width: 50%;
  margin: auto;
  margin-bottom: 50px;
  text-align: center;
}

.letter-link {
  font-style: italic;
  color: rgb(232,75,59);
}

.map-container {
  display: flex;
}

.map {
  width: 66.6667%;
  height: 100vh;
}

.listings {
  width: 33.3333%;
  height: 100vh;
  padding: 15px;
  overflow-y: auto;
  background-color: rgb(252,219,122);
}

.street-logo {
  margin: auto;
  height: 50px;
  padding: 10px;
}

.address {
  font-style: italic;
}

.item {
  cursor: pointer;
  border-top: 1px solid rgb(232,75,59);
  padding-top: 15px;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
}

.listing-box {
  padding-right: 0;
}

.img-top {
  height: 400px;
  width: 100%;
  margin: 0 auto 10px;
}

.img-secondary {
  height: 220px;
  width: 100%;
  margin: 0 auto 10px;
}

.featured {
  margin-bottom: 50px;
}

.image-row {
  text-align: center;
}

.image-row {
  margin-top: 50px;
}

.image-row a {
  color: #000;
}

.nav {
  background-color: #222;
  text-align: center;
}

.street-link {
  margin: auto;
}

.street-logo {
  margin: auto;
  height: 40px;
  padding: 10px;
}

.lg-underline, .underline2, .underline3 {
  border-top: 2px solid rgb(232,75,59);
  margin: 20px auto;
}

.lg-underline {
  width: 33%;
}

.underline2 {
  width: 10%;
}

.underline3 {
  width: 15%;
}

.food-section {
  text-align: center;
}

.title-see-more {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
}

.title-see-more a {
  text-decoration: none;
  color: black;
}

.col-left {
  width: 60%;
  margin: 0 15px 0 60px;
}

.col-right {
  width: 40%;
  margin: 0 60px 0 15px;
}

.narrative-row {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 100px 15px;
}

.grey {
  background-color: rgb(237,236,234);
}

.red {
  background-color: rgb(232,75,59);
}

.red h3:hover{
  color: rgb(250,230,122);
}

.red h3 {
  color: rgb(252,219,122);
}

.yellow {
  background-color: rgb(252,219,122);
}

.yellow h3:hover{
  color: rgb(255,70,60);
}

@media screen and (max-width: 480px) {
  .intro {
    width: 100%;
  }

  .img-top {
    height: 300px;
  }

  .featured {
    margin-bottom: 0;
  }

  .map-container {
    flex-direction: column-reverse;
  }

  .map {
    width: 100%;
    height: 67vh;
  }

  .listings {
    width: 100%;
    height: 33vh;
  }

  .narrative-row {
    min-height: auto;
    flex-direction: column;
  }

  .image-row {
    margin-top: 0;
  }

  .col-md {
    margin-bottom: 20px;
  }

  .col-left, .col-right {
    width: 100%;
    margin: 5px auto;
  }
}
