@import url('https://fonts.googleapis.com/css?family=Merriweather:300,400,700,900');

html {
  height: 100%;
  width: 100%;
}

body {
  background: #f4f4f4;
  font-family: 'Merriweather', serif;
  color: #313132;
  font-weight: 300;
  max-width: 100vw;
  overflow-x: hidden;
}

section {
	height: auto;
	padding: 0;
}

section#hero {
  padding-left: 15px;
  padding-right: 15px;
}

section#cards {
  padding-left: 15px;
  padding-right: 15px;
}

section#resources-section {
  margin-left: 15px;
  margin-right: 15px;
}

section.article {
  margin: 0;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 900px;
}

section.article>div {
  margin-top: 50px;
  margin-bottom: 50px;
}

img {
  width: 100%;
}

nav {
  background-color: #333;
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

nav a.article-back {
  color: white;
  text-decoration: none;
  float: left;
  padding-top: 15px;
  padding-bottom: 15px;
}

nav img {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 115px;
}

#hero h1 {
	margin-top: 100px;
	text-align: center;
	font-size: 4em;
}

#hero h3 {
  margin-top: 15px;
	text-align: center;
	font-size: 1.3em;
}

#hero .lead {
	margin-top: 30px;
	text-align: left;
	font-size: 1em;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

i {
  font-style: italic;
}

a.card {
  text-decoration: none;
  color: #313132;
}

a.card:hover {
  color: #888;
}

#content-warning {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 30%;
}

#resources {
	margin: 50px auto;
	text-align: left;
	border: 1px solid #888;
	width: 80%;
	padding: 20px;
}

#resources a, #resources a:active {
  color: #000;
  text-decoration: underline;
}

#resources p {
  color: #888;
  font-style: italic;
  font-size: 80%;
}

#resources p:last-of-type {
  margin-bottom: 0;
}

#resources b {
  color: #000;
  font-style: normal;
}

#cards {
  display: inline-block;
}

.column {
	float: right;
	width: 25%;
}

.card {
	margin: 10px;
	margin-bottom: 30px;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
	transition: all 0.3s;
}

.card:last-of-type {
	margin-bottom: 0;
}

.card:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.card-text {
	font-size: 0.85em;
}
.card a {
	background-color: rgba(255, 255, 255, 0);
	border: none;
	font-size: 2em;
	color: #333
}

#arrow-btn {
	float: right;
	text-align: center;
}

/**ARTICLE CSS**/

.article-hero {
	padding-left: 15%;
	min-height: 300px;
	height: auto;
	background-color: #e8e8e8;
	padding-bottom: 100px;
}

.article-hero h1 {
	padding-top: 75px;
	width: 80%;
	text-align: left;
	font-size: 4em;
}

.article-hero h2 {
	margin-top: 10px;
  margin-bottom: 10px;
	width: 80%;
	text-align: left;
	font-size: 1.2em;
}

.article-hero .lead {
	margin-top: 15px;
	text-align: left;
	font-size: 1em;
	width: 60%;
}

.article-header-img {
	max-height: 400px;
	width: auto;
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
	transition: all 0.3s;
}

.article-header-img:hover {
	box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.1);
}

.article-warning {
  text-align: center;
  width: 80%;
  margin: auto;
}

.article-copy p:first-of-type:first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin-right: 9px;
}

.hr-div {
	padding: 0;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.hr-div.homepage {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 60%;
}

.custom-hr {
	width: 43%;
	border: 1px solid #313132;
}

.custom-hr:first-of-type {
	float: left;
	width: 43%;
	border: 1px solid #313132;
}

.custom-hr:last-of-type {
	float: right;
	width: 43%;
	border: 1px solid #313132;
}

.stars {
	font-size: large;
}

.image-description {
	text-align: left;
	font-size: small;
	width: 50%;
}

.image-author {
	text-align: left;
	width: 50%;
}

#moment-dark-article {
	background: url(../img/a-moment-in-the-dark.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#still-look-normal-article {
	background: url(../img/still-look-normal.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#firsts-article {
	background: url(../img/firsts.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#alone-in-this-article {
	background: url(../img/alone-in-this.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#kissed-stranger-article {
	background: url(../img/on-the-bus.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#what-i-cost-article {
	background: url(../img/what-i-cost.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#three-article {
	background: url(../img/three.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#happens-to-you-article {
	background: url(../img/til-it-happens-to-you.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#haunted-article {
	background: url(../img/haunted.png) no-repeat center center fixed;
	background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#the-post-i-should-have-written {
  background: url(../img/the-post-i-should-have-written.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#taken-years {
  background: url(../img/taken-years.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#six {
  background: url(../img/six.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#change-made {
  background: url(../img/change-made.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#why-shouldnt-i {
  background: url(../img/why-shouldnt-i.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#its-not-your-fault {
  background: url(../img/its-not-your-fault.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#he-took-anyway {
  background: url(../img/he-took-anyway.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#black-out-sex {
  background: url(../img/black-out-sex.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#two-21-15 {
  background: url(../img/2-21-15.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#help-us {
  background: url(../img/help-us.png) no-repeat center center fixed;
  background-color: rgba(255, 255, 255, 0.75);
  background-blend-mode: screen;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**Media Queries**/
@media screen and (max-width: 900px){
  #hero h1 {
    font-size: 3em;
  }
  #hero .lead {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
  }
  #content-warning, #resources {
    width: 100%;
  }
  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .article-hero h1 {
    font-size: 3em;
    width: 100%;
  }
  .article-hero h2 {
    width: 100%;
  }
  .image-description {
		width: 80%;
	}
	.image-author {
		width: 80%;
	}
	.article-header-img {
		max-height: 200px;
	}
	.article-hero {
		padding-left: 5%;
	}
  .article-warning {
    width: 100%;
  }
  .hr-div {
		display: block;
		padding-left: 15px;
		padding-right: 15px;
	}
  #hero .hr-div {
		padding: 0;
	}
  .hr-div.homepage {
		width: 100%;
	}
	.custom-hr {
		width: 40%;
		border: 1px solid #313132;
	}
	.stars {
		font-size: small;
    position: relative;
    top: 3px;
	}
}

@media screen and (max-width: 500px){
  .column {
		width: 100%;
		float: right;
	}
}

@media screen and (max-width: 800px) and (min-width : 500px) {
  .column {
    align-content: center;
		width: 100%;
		float: none;
		display: flex;
		flex-wrap: wrap;
	}
	.card {
		width: 45%;
	}
}

@media screen and (max-width: 1200px) and (min-width : 800px) {
  .column {
    align-content: center;
		width: 100%;
		float: none;
		display: flex;
		flex-wrap: wrap;
	}
	.card {
		width: 30%;
	}
}
