@font-face {
font-family:"Bodoni";
src: url("https://use.typekit.net/af/1db0a1/000000000000000000010b16/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1db0a1/000000000000000000010b16/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1db0a1/000000000000000000010b16/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
font-style: normal;
font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff2"),url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("woff"),url("https://use.typekit.net/af/1426a3/00000000000000003b9b0934/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n4&v=3") format("opentype");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Proxima Nova';
  src: url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff2"),url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("woff"),url("https://use.typekit.net/af/6756a2/00000000000000003b9b0935/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i4&v=3") format("opentype");
  font-style: italic;
  font-weight: 400;
}

body {
  font-family: 'Proxima Nova';
}

h1, h2, h3 {
  font-family: 'Bodoni';
}

h1, h2 {
  color: #326522;
}

h5, h6 {
  color: #838580;
}

h5 {
  text-transform: uppercase;
}

footer {
  text-align: center;
  margin: 15px;
}

img {
  margin: 20px auto 10px;
}

a {
  color: #326522;
  text-decoration: none;
}

a:hover {
  color: #a5c639;
  text-decoration: none;
}

p.italics {
  font-style: italic;
}

hr {
  width: 1140px;
  max-width: 100%;
  margin: 20px auto;
  border-top: 3px solid #326522;
}

.intro {
  width: 50%;
  margin: auto;
}

.map-container {
  margin-top: 50px;
}

.map {
  background-repeat: no-repeat;
  background-size: cover;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  text-align: center;
}

.street-logo {
  margin: auto;
  height: 50px;
  padding: 10px;
}

.featured {
  padding-top: 10px;
  margin: auto;
  text-align: center;
}

.listings {
  width: 33%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  padding: 15px;
  overflow-y: scroll;
  background-color: #e8e8de;
}

.item:not(:last-of-type) {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #326522;
}

.listing-box {
  padding-right: 0;
}

.img-top {
  height: 400px;
  width: 100%;
  margin: 20px auto 10px;
}

.img-square {
  height: 300px;
  width: 100%;
  margin: 20px auto 10px;
}

.image-row a {
  color: #000;
}

.street-link {
  margin: 30px 0 0 30px;
}

.lg-underline, .underline2, .underline3 {
  border-top: 2px solid #326522;
  margin: 20px auto;
}

.lg-underline {
  width: 33%;
}

.underline2 {
  width: 10%;
}

.underline3 {
  width: 15%;
}

.food-section {
  margin-top: 50px;
  text-align: center;
}

.title-see-more {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  color: #326522;
}

.title-see-more a {
  text-decoration: none;
  color: #326522;
}

@media screen and (max-width: 480px) {
  .intro {
    width: 100%;
  }

  .img-top {
    height: 300px;
  }

  .listing-box {
    /* display: none; */
    position: relative;
  }

  .listings {
    width: 100%;
    height: calc(33vh - 40px);
    top: 67vh;
  }
}
